/*--------------------------------------------------------------------- File Name: responsive.css ---------------------------------------------------------------------*/

@media screen and (max-width: 1200px) {
  .banner img {
    width: 535px;
  }
}

@media screen and (max-width: 992px) {
  header .row {
    padding: 0;
  }
  .banner img {
    width: 400px;
  }
}
/* (min-width: 768px) */
@media screen and (max-width: 991px) {
  nav li {
    padding: 0 1.2rem;
  }

  .banner .col-md-4 h1 {
    font-size: 2.6rem;
  }

  .banner span {
    font-size: 1.8rem;
  }

  .banner p {
    font-size: 1rem;
    font-weight: 400;
  }

  .banner h1 {
    font-size: 3.8rem;
  }
}

/* (min-width: 400px) */
@media screen and (max-width: 767px) {
  header .row {
    position: relative;
  }

  .toggle {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 22px;
    width: 22px;
    right: 0;
    z-index: 20;
    cursor: pointer;
    justify-content: center;
    align-items: center;
  }

  .spinner {
    background: whitesmoke;
    height: 3px;
    width: 30px;
    transition: ease-in-out 0.25s;
  }

  :is(.top, .middle) {
    margin-bottom: 4px;
  }

  nav {
    position: relative;
  }

  nav ul {
    padding: 0 0.3rem;
    position: fixed;
    justify-content: space-around;
    flex-direction: column;
    transition: ease-in-out 0.4s;
    top: 85px;
    right: -200px;
    background-color: #41468b;
    width: 200px;
    height: 270px;
  }

  #sideBarToggle:checked ~ nav ul {
    right: 0;
  }

  #sideBarToggle:checked ~ .toggle > .spinner.middle {
    opacity: 0;
  }

  #sideBarToggle:checked ~ .toggle > .spinner.top {
    transform: rotate(135deg);
    margin-top: 9px;
  }

  #sideBarToggle:checked ~ .toggle > .spinner.bottom {
    transform: rotate(-135deg);
    margin-top: -14px;
  }

  nav li {
    display: flex;
    justify-content: center;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.096);
    width: 100%;
  }

  nav a {
    font-size: 1.1rem;
  }

  .banner .row {
    flex-direction: column;
    row-gap: 3rem;
  }

  .banner h1 {
    font-size: 3.6rem;
  }

  .banner p {
    font-size: 1rem;
    font-weight: 400;
  }

  .banner img,
  .hosting img {
    width: 90%;
  }

  .contact :is(input, textarea) {
    width: 18rem;
  }

  .contact input {
    padding: 1rem 5rem;
    padding-left: 20px;
    border-radius: 10px;
    font-size: 1.1rem;
  }
}

/* (min-width: 1px) */

@media screen and (max-width: 399px) {
  .btn {
    font-size: 0.9rem;
    padding: 0.7rem 2rem;
  }

  :is(.col-md-6, .contact-content) p {
    width: 100%;
  }

  .contact :is(input, textarea) {
    width: 100%;
  }

  .contact form {
    font-size: 0.3rem;
  }
}
